/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    
}
.top-container{
    position: relative;
    display: flex;
    align-items: center;
    /* max-height: 190px; */
    height: 100%;
    background-color: #021448;
    border-bottom: 15px solid rgb(90, 122, 169);
}

.header{
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 3vw;
}
.header h1{
    font-family: 'Times New Roman', Times, serif;
}

.top-container #top-logo{
    max-width: 10vw;
    max-height: 20vh;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.body{
    min-height: 90hvh;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/BTr-background.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container header{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    box-shadow: 0 5px 5px -5px #000;
}

.uil-info-circle {
    position: relative;
    display: inline-block;
    color: rgb(8, 17, 118);
    cursor: pointer;
}

.uil-info-circle .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.uil-info-circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Adjust tooltip position for responsiveness */
@media screen and (max-width: 600px) {
    .tooltiptext {
        top: -450%;
        transform: translateX(-50%);
        
    }
}

.step-row{
    max-width: 60vw;
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 20px auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    border-radius: 25px;
    position: relative;
}
.step-col{
    max-width: calc(60vw/6);
    width: 100%;
    height: 100%;
    font-size: 1vw;
    text-align: center;
    color: rgb(33, 32, 32);
    position: relative;
}
.step-col:hover{
    border-radius: 25px;
    background-color: #61a0c5;
    color: rgb(213, 224, 235);
    cursor: pointer;
    transition: 0.3s;
}
#progress{
    position: absolute;
    max-width: calc(60vw/6);
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #265df2,#4ef8f0);
    border-radius: 25px;
    transition: 1s;
}

.container form{
    position: relative;
    border: 2px solid #777777;
    border-radius: 10px;
    min-height: 72vh;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
}
.container form::-webkit-scrollbar{
    display: none;
 }
.container form .form{
    
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s ease;
}
.inputText-field{
    height: 100%;
    width: 100%;
    font-size: 14px; 
} 
.rev-title{
    margin: 0;
}
.rev-con{
    width: 100%;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #686767;
    
}

.rev-con .section{
    padding: 0 15px;
}


.input-field .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    margin-top: -5px;
    margin-left: 5px;
}
#generalFunds{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #686767;
    padding-bottom: 30px;

}
#sagf{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #686767;
    padding-bottom: 30px;
}
#tf{
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #686767;
    padding-bottom: 30px;
}

/* SECOND-P---------------------------------------------------------- */
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(0%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
/* THIRD-P---------------------------------------------------------- */
.container form .form.third{
    opacity: 0;
    pointer-events: none;
    transform: translateX(0%);
}
form.thirdActive .form.third{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}

form.thirdActive .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
/* FOURTH-P---------------------------------------------------------- */
.container form .form.fourth{
    opacity: 0;
    pointer-events: none;
    transform: translateX(0%);
}
form.fourthActive .form.fourth{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}

form.fourthActive .form.third{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
/* FIFTH-P---------------------------------------------------------- */
.container form .form.fifth{
    opacity: 0;
    pointer-events: none;
    transform: translateX(0%);
}
form.fifthActive .form.fifth{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}
form.fifthActive .form.fourth{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
/* SIXTH-P---------------------------------------------------------- */
.container form .form.sixth{
    opacity: 0;
    pointer-events: none;
    transform: translateX(0%);
}
form.sixthActive .form.sixth{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}
form.sixthActive .form.fifth{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
/* SEVENTH-P---------------------------------------------------------- */
.container form .form.seventh{
    opacity: 0;
    pointer-events: none;
    transform: translateX(0%);
}
form.seventhActive .form.seventh{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}
form.seventhActive .form.sixth{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title{
    display: block;
    width: 200px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;   
    margin: 6px 0;
    color: #333;
    box-shadow: 0 5px 5px -5px #000;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}


.fields .input-field #covered_Date1{
    border-color: #ccc;
    width: 45%;
}
.fields .input-field #covered_Date2{
    border-color: #ccc;
    width: 45%;
}

#sagf_otherFill{
    margin:  -12px 10px;
    border: transparent;
    border-radius: 0;
    border-bottom: 2px solid #333;
}
#gf_amount{
    display: flex;
    margin:  -12px 10px;
    border: transparent;
    border-radius: 0;
    border-bottom: 2px solid #333;
}
#sagf_amount{
    display: flex;
    margin:  -12px 10px;
    border: transparent;
    border-radius: 0;
    border-bottom: 2px solid #333;
}
#tf_amount{
    display: flex;
    margin:  -12px 10px;
    border: transparent;
    border-radius: 0;
    border-bottom: 2px solid #333;
}

.radioTypes{
    display: flex; 
    align-items: center;
}

.radio-content{
    height: auto;
    display: flex; 
    align-content: space-between;
    flex-direction: column;
    overflow: hidden;
}
.forAmount{
    width: 100%;
    display: flex; 
    padding-left: -20px; 
    padding-top: 15px;
    
}

.section{
    display: flex;
    margin-top: 10px;
}

.class-name{
    font-weight: 600;
}
.class-value{
    color: #333;
    margin-left: 10px;
    margin-right: 10px;

}

.radio-content label{
    margin-right: 40px;
    padding-left: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.radioTypes input[type="radio"]{
    display: none;
}
.radioTypes input[type="radio"] + label {
    position: absolute;
    border: 2px solid #ccc;
    border-radius: 50%; 
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 0; 
    cursor: pointer;
}
.radioTypes input[type="radio"]:checked + label{
    border-color: #007bff;
}
.radioTypes input[type="radio"] + label::before {
    content: ''; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; 
    height: 10px; 
    background-color: transparent; 
    border-radius: 50%; 
}

.radioTypes input[type="radio"]:checked + label::before {
    background-color: #007bff;
    transition: 0.5s;
}


.uploadlabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #aaa;
    text-align: center;
}

.uploadlabel:hover {
    border: 2px solid #186b7d;
    background-color: #8ec4ea;
    color: white;
}

.uploaded{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: gray;
}

.showfilebox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px, #7aa8ec96 0px 0px 0px 1px inset;
    border-radius: 5px;
}
#filewrapper{
    /* display: flex; */
    width: 100%;
    margin-top: 20px;
    border: 2px solid rgba(195, 195, 195, 0.69);
    border-radius: 5px;
    padding: 5px;
}
.showfilebox .left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filetype{
    background: #007bff;
    color: #fff;
    padding: 5px 15px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
}
.left h3{
    font-weight: 600;
    font-size: 12px;
    color: #292f42;
    margin: 0;
}

.right span{
    background: #007bff;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-weight: 500px;
    cursor: pointer;
    padding-top: 0.8px;
    padding-left: 0.5px;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 2px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}


.container form button, .backBtn1, .backBtn2, .backBtn3, .backBtn4, .backBtn5, .backBtn6, 
                        .nextBtn1, .nextBtn2, .nextBtn3, .nextBtn4, .nextBtn5, .nextBtn6{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}

form button:hover, .backBtn1:hover, .backBtn2:hover, .backBtn3:hover, .backBtn4:hover, .backBtn5:hover, .backBtn6:hover, 
    .nextBtn1:hover, .nextBtn2:hover, .nextBtn3:hover, .nextBtn4:hover, .nextBtn5:hover, .nextBtn6:hover{
    background: #021448;
}
form button i, .backBtn1 i, .backBtn2 i, .backBtn3 i, .backBtn4 i, .backBtn5 i, .backBtn6 i, 
.nextBtn1 i, .nextBtn2 i, .nextBtn3 i, .nextBtn4 i, .nextBtn5 i, .nextBtn6 i{
    margin: 0 6px;
}
form .backBtn1 i, .backBtn2 i, .backBtn3 i, .backBtn4 i, .backBtn5 i, .backBtn6 i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn1, .backBtn2, .backBtn3, .backBtn4, .backBtn5, .backBtn6{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
    
    

}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
    
    
}